*{
    padding: 0px;
    margin: 0px;
}

.main{
    background-image: url('Assets/image/bg.jpg');
    height: 80vh;
    position: relative;
}

div .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top:0;
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    
}